---
//import library
import { Icon } from 'astro-icon';

interface Props {
    tagline?: string,
    headline: string,
    subheadline: string
    classes?: string;
}

const {
    tagline,
    headline,
    subheadline,
    classes,
    ...rest
} = Astro.props as Props;

---

<section id="homeHero">
    <div class="container">
        <div class="container__inner">
            <div class="groupTitle space-y-1">
                <span class="tagline text-sm uppercase font-medium text-amber-800">{tagline}</span>
                <h1 class="headline_huge text-4xl font-extrabold text-amber-500">{headline}</h1>
            </div>
            <div class="subheadline-wrapper w-full">
                <p class="sub__headline text-lg font-medium">{subheadline}</p>
            </div>
        </div>
    </div>
</section>